body{
    background-color: #01001f;
    font-family: Helvetica, sans-serif;
    color: #090300;
}

h1{
    font-family: Arial, sans-serif;
    font-weight: 1000;
    color: #ffdd95;
}

p{
    color: #ffdd95;
}